<div class="navbar-lewagon">
  <div>
      <%  %>
      <%= link_to image_tag("popcorn.png", alt: "Movie", width: 60), root_path  %>
  </div>
  <div>
  <%= link_to(root_path) do %>
    <i class="fa-solid fa-house-chimney"></i>
    <i class="hover-underline-animation">Home</i>
  <% end  %>
    <%= link_to(movies_path) do %>
      <i class="fa-solid fa-film"></i>
      <i class="hover-underline-animation">Movies</i>
  <% end  %>
    <%= link_to(lists_path) do %>
      <i class="fa-solid fa-bars-staggered"></i>
      <i class="hover-underline-animation">My lists</i>
  <% end  %>
  </div>
</div>


<%# <div class ='search'> %>
  <%# <%= form_tag movies_path, method: :get do %>
    <%# <%= text_field_tag :query, %>
      <%# params[:query], %>
      <%# class: "form-control", %>
      <%# placeholder: "Find a movie" %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# <% end %>
<%# </div> %>
